@model LojaGames.Models.Tb_usuario;

<link href="~/css/cadastro.css" rel="stylesheet" />

<h1 class="titulo-cli">CADASTRO</h1>

<form asp-action="Cadastro" method="post" class="form-cadastro">
    
    <div class="from-group">
        <label>Nome:</label>
        <input type="text" name="nome" required class="form-control" />
    </div>

    <div class="from-group">
        <label>Cpf:</label>
        <input type="text" name="cpf" maxlength="11" minlength="11" required class="form-control" />
    </div>

    <div class="from-group">
        <label>Usuario:</label>
        <input type="text" name="usuario" required class="form-control" />
    </div>

    <div class="from-group">
        <label>Senha:</label>
        <input type="password" name="senha" required class="form-control" />
    </div>

    <div class="from-group">
        <label>Email:</label>
        <input type="text" name="email" required class="form-control" />
    </div>
    <br />

    <button type="submit" class="btn-cadastrar">Cadastrar</button>
</form>