@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

<link href="~/css/conta.css" rel="stylesheet" />
<div class="d-flex justify-content-center align-items-center borda">
    <table border="1">
        <tr>
            <td>
                <div class="backinformacoes">
                    <div class="informacoes">
                        <div class="borda">
							<img id="imagemdeperfil" src="~/assets/image/perfil-de-usuario.png"/>
                        </div>
                        <div class="largura40 borda2">
                            <label>Bem Vindo, @HttpContextAccessor.HttpContext.Session.GetString("nome")</label><br>
                            <label>Usuario: @HttpContextAccessor.HttpContext.Session.GetString("perfil")</label><br>
                            <label>E-Mail: @HttpContextAccessor.HttpContext.Session.GetString("email")</label><br>
                        </div>
                        <div class="largura30 borda">
                            gfdsfgsd
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Meus Pedidos</td>
            <td>Meus Dados</td>
            <td>Enderecos</td>
        </tr>
        <tr>
            <td>Ultimo Pedido</td>
        </tr>
    </table>
</div>
