
<link href="~/css/conta.css" rel="stylesheet" />
<div class="d-flex justify-content-center align-items-center borda">
    <table border="1">
        <tr>
            <td>Sua Conta</td>
        </tr>
        <tr>
            <td>Meus Pedidos</td>
            <td>Meus Dados</td>
            <td>Enderecos</td>
        </tr>
        <tr>
            <td>Ultimo Pedido</td>
        </tr>
    </table>
</div>
